{% extends 'default.html' %} 
 
{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
Posts
{% endblock title %}
 
<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
    {% if post %}
    <table>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Текст
            </td>
        </tr>
        <tr>
            <td>
                {{ post.headline|Censor}}
            </td>
            <td>
                {{ post.datetime|date:'d M Y H:i'}} <!-- дописываем специальный фильтр, чтобы ограничить количество символов до 20. Все остальные символы превратятся в многоточие. -->
            </td>
            <td>
                {{ post.main_part|Censor}}
            </td>
        </tr>
    </table>
    {% else %}
        <h2> Поста нет! </h2>
    {% endif %}
{% endblock content %}